#projects-container{
    display: flex;
    flex-wrap: wrap;
}
#checkout-container{
    border: solid grey;
    margin-left: calc(50% - 100px);
    width: 200px;
    transition: 0.3s;
}
#checkout-container:hover{
    cursor: pointer;
    transform: translateY(-10%);
    box-shadow: 4px 4px 4px 4px rgb(0, 0, 0);
}
#checkout{
    text-align: center;
    text-decoration: none;  
}
  