#skills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skills-block{
    margin-top: 20px;
    padding: 20px;
    align-self: center;
    width: 96%;
    background-image: linear-gradient(rgba(16, 16, 41, 0.7), rgba(15, 4, 4, 0.7));
    box-shadow: 4px 4px 4px black;
    opacity: 0;
}
.skills-block.visible{
    animation: appear 0.5s ease-out forwards;
}

.skills-block figure{
    margin-left: 3vw;
}
.skills-block figcaption{
    margin-top: 5px;
    text-align: center;
}
.skills-block img{
    border-radius: 5px;
    height: 70px;
    width: 70px;
}



.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.bg-white{
    background-color: rgb(255, 255, 255);
}