#skills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#skills p{
    align-self: center;
    border: solid white;
    padding: 10px;
    width: calc(90% - 40px);
}

.skills-block{
    margin-top: 5vw;
    padding: 10px;
    align-self: center;
    width: calc(90% - 40px);
    background-image: linear-gradient(rgba(16, 16, 41, 0.7), rgba(15, 4, 4, 0.7));
    box-shadow: 1px 4px 4px 4px black;
    opacity: 0;
    transition: 1s;
    transform: translateX(-50%);
}
.skills-block.visible{
    opacity: 1;
    transform: translateX(0);

}

.skills-block figure{
    margin-left: 3vw;
}
.skills-block figcaption{
    margin-top: 5px;
    text-align: center;
}
.skills-block img{
    padding: 2px;
    border-radius: 5px;
    height: 70px;
    width: 70px;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.bg-white{
    background-color: rgb(255, 255, 255);
}