#skills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#skill-sum{
    width: 100%;
    align-self: center;
    border: solid white;
    padding: 10px;
    font-size: clamp(15px, 1vw, 30px);
}
#skill-sum img{
    width: 30px;
    height: 30px;
}


.skills-block{
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 10px;
    align-self: center;
    box-shadow: 1px 4px 4px 4px black;
    opacity: 0;
    transition: 1s;
    transform: translateX(-50%);
}
.skills-block.visible{
    opacity: 1;
    transform: translateX(0);

}

.skills-block figure{
    margin: auto;
}

.skills-block img{
    padding: 2px;
    border-radius: 5px;
    height: 70px;
    width: 70px;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    
}
