#landing {
    padding-left: 4vw;
    padding-right: 4vw;
}

#landing>.container:first-child {
    background-image: linear-gradient(rgba(16, 16, 41, 0.7), rgba(15, 4, 4, 0.7));
    box-shadow: 4px 10px 15px 1px rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    min-width: min-content;
}

#landing>.container:first-child>span {
    flex-grow: 1;
    padding: clamp(10px, 4vw, 60px);
    min-width: 200px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    #landing>.container:first-child>span:first-child {
        max-width: 30%;
    }

    #landing>.container:first-child>span:last-child {
        max-width: 55%;
    }
}

#landing>.container:first-child>span:first-child>img {
    width: clamp(200px, 20vw, 400px);
    height: clamp(200px, 20vw, 400px);
    ;
}

#landing>.container:first-child>span:first-child * {
    margin-left: calc(50% - 100px);
    border-radius: 30%;
}

#landing>.container:first-child>span:last-child h1 {
    font-size: clamp(23px, 4vw, 50px);
}

#landing>.container:first-child>span:last-child p {
    font-size: clamp(15px, 1.5vw, 30px);
}
.cursor {
    display: inline-block;
    width: 0.5em; /* Adjust the width of the cursor as needed */
    height: 1em; /* Adjust the height of the cursor as needed */
    background-color: #ffffff; /* Set the color of the cursor */
    animation: blink 0.3s infinite; /* Add a blinking animation to the cursor */
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  