#about {
    width: 100vw;
    min-height: calc(100vh - 220px);
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 4px 6px 10px 6px rgb(0, 0, 0);
}

.about-span {
    flex-grow: 1;
    padding: clamp(10px, 4vw, 60px);
    min-width: 300px;
    box-sizing: border-box;
}

#about-span-1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#about-span-1 p {
    word-break: break-all;
    white-space: normal;
    display: flex;
}


#about-span-2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
}

#profile-img {
    width: clamp(200px, 20vw, 400px);
    height: clamp(200px, 20vw, 400px);
    object-fit: cover;
    /* Maintain aspect ratio and crop the image */
}

#about-span-1>* {
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 2s;
    /* width: 100%; */
    border-radius: 10%;
}

#about-span-2 h1 {
    font-size: clamp(23px, 4vw, 50px);
}

#about-span-2 p {
    font-size: clamp(15px, 1.5vw, 30px);
}

.cursor {
    display: inline-block;
    width: 0.5em;
    height: 1em;
    background-color: #ffffff;
    animation: blink 0.3s infinite;
}

#download {
    display: none;
    margin-top: 30px;
    align-self: center;
    font-size: clamp(22px, 1.5vw, 40px);
    padding: 20px;
    width: max-content;
    height: max-content;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 4px 6px 6px black;
    animation: slide-down 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 0.3s;
}


#download:hover {
    transform: scale(1.03);
    box-shadow: 1px 3px 6px 6px rgb(47, 47, 47);
}


@media (max-width:700px) {
    .about-span {
        width: 100%;
    }
}