/* PinnedRepo.css */
.repo-container{
    border: solid white;
    width: 500px;
    margin: 2%;
    padding: 2%;
    background-image:linear-gradient(rgba(16, 16, 41, 0.7), rgba(15, 4, 4, 0.7));
    box-shadow: 4px 4px 4px black;
    border-radius: 10px;
}
.icon{
    height: 20px;
    width: 20px;
    transform: translateY(20%);
}