/* PinnedRepo.css */
.repo-container{
    opacity: 0;
    flex-grow: 1;
    border: solid white;
    width: 500px;
    margin: 2%;
    padding: 2%;
    background-image:linear-gradient(rgba(16, 16, 41, 0.7), rgba(15, 4, 4, 0.7));
    box-shadow: 4px 4px 4px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
}
.repo-container.visible{
    animation: appear 1s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}
.repo-container:hover{
    transform: scale(1.05);
    background-image:linear-gradient(rgba(16, 16, 41, 1), rgba(15, 4, 4, 1));
}
.icon{
    height: 20px;
    width: 20px;
    transform: translateY(20%);
}
.none-decoration{
    text-decoration: none;
}