body{
  padding: 0;
  margin: 0;
}

section {
  box-sizing: border-box;
  padding-top: clamp(70px, 12vw, 140px);
  min-height:100vh;
}
.none-decoration{
  text-decoration: none;
}
.none-decoration-exhov{
  text-decoration: none;
}
.none-decoration-exhov:hover{
  text-decoration: underline;
}

.green {
  color: #70ff2d !important;
}
.white{
  color: white;
}
.tabLeft{
  padding-left: 4vw;
}
h1{
  font-family: evil, Arial, Helvetica, sans-serif;
  font-size: xx-large;
}
h2{
  font-family: evil, Arial, Helvetica, sans-serif;
  font-size: large;
}
p{
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}
figcaption{
  margin-top: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.flex-inline{
  display:flex;
  white-space: nowrap;
  align-items: center;
}


@font-face {
  font-family: evil;
  src: url("/assets/fonts/evil-empire-font/EvilEmpire-4BBVK.ttf");
}



.font-evil{
  font-family: evil;
}

