body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

section {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vh;
  padding-bottom: 4vh;
  overflow-x: hidden;
  box-sizing: border-box;
  padding-top: clamp(70px, 12vw, 140px);
  min-height:100vh;
}
.none-decoration{
  text-decoration: none;
}
.none-decoration-exhov{
  text-decoration: none;
}
.none-decoration-exhov:hover{
  text-decoration: underline;
}
/* fjkhksd */

.green {
  color: #00f81d !important;
}
.white{
  color: white;
}
.tabLeft{
  padding-left: 4vw;
}


h1{
  font-size: xx-large;
}
h2{
  font-size: large;
}
p,a{
  font-weight: 900;
}

figcaption{
  margin-top: 5px;
  text-align: center;
}

.flex-inline{
  display:flex;
  white-space: nowrap;
  align-items: center;
}

.cpy-clipboard{
  margin-left: 5px;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  border-radius: 20%;

}
.cpy-clipboard:hover{
  opacity: 1;
}
.cpy-clipboard:active{
  background-color: #ffffff69;
}
