 #bgrn-svg {
     height: 100%;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: -100;

 }

 #bgrn-rect {
     width: 100%;
     height: 100%;

 }


#bgrn-g-1 {

     fill: "white";
     stroke-dasharray: 1000;
     stroke-dashoffset: 0;
     animation: draw_background 10s linear infinite;
 }
 #bgrn-g-2{
    filter:url(#glow);
   
 }
 .bgrn-g-2-cir{
    animation: pulse 3s ease-in-out infinite;
 }


 @keyframes pulse {
     0% {
         filter: brightness(1);
     }

     50% {
         
         filter: brightness(0.5);
     }

     100% {

         filter: brightness(1);
     }
 }