/* Browser filter */
/* Some rule to ensure different browsers's performance */
/** Internet Explorer */
/* @media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  #bgrn-g-2 {
    filter: none !important;
  }
}

/** Microsoft Edge */
/* @supports (-ms-ime-align: auto) {} */

/** Mozilla Firefox */
/* @-moz-document url-prefix() {
  #bgrn-g-2 {
    filter: none !important;
  }
} */

/** Safari */
/* @media not all and (min-resolution: 0.001dpcm) {
  #bgrn-g-2 {
    filter: none !important;
  }
} */

/* mobile */
/* @media (max-width: 700px) {
  #bgrn-g-2 {
    filter: none !important;
  }
} */ */

/** Chrominum */
/* @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {} */

/* Browser filter */

html {
  scroll-behavior: smooth;
  overflow-x: auto;
}


.floating-bg {
  background-image: linear-gradient(rgba(16, 16, 41, 0.7), rgba(15, 4, 4, 0.7));
}

.bg-white {
  background-color: rgb(255, 255, 255);
}