@keyframes draw_logo {
    0% {
        stroke-dashoffset: 1000;
    }

    13% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes slide-in-from-left {
    from {
        color: transparent;
        transform: translateX(-30%);
    }

    to {
        color: white;
        transform: translateX(0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes draw_background {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 2000;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}