/* PinnedRepo.css */
.repo-container{
    flex-grow: 1;
    border: solid rgb(136, 136, 136);
    width: 500px;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    transform: translateX(-60%);
    transition: 1s;
    opacity: 0;
}
.repo-container.visible{
    transform: translateX(0);
    opacity: 1;
}
.repo-container:hover{
    box-shadow: 2px 4px 4px 4px rgb(94, 94, 94);
}
.icon{
    height: 20px;
    width: 20px;
    transform: translateY(10%);
}
.none-decoration{
    text-decoration: none;
}
.repo-img{
    height: 30px;
    width: 30px;
    transform: translateY(20%);
}
